/* Styling the Button component */

.coloredButton {
	border-radius: 0.5rem;
	background: var(--btnBgColor);
	padding: 0.5rem 1rem !important;
	width: 100%;

	color: var(--btnTxtColor);
	text-align: center;
	font-size: 0.8rem;
	font-family: 'Courier New', Courier, monospace;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: 0.00625rem;
	margin: 0;
	padding: 0;
	border: 0;
}

.coloredButton:hover {
	opacity: 1;
}

.buttonWrapper {
	background-color: var(--btnShadowColor);
	padding-bottom: 0.5rem;
	border: 2px solid var(--btnBorderColor);
	border-radius: 0.7rem;
	width: fit-content;
}

.buttonWrapper:active {
	padding-bottom: 0;
	margin-top: 0.5rem;
}

.disabled-button {
	pointer-events: none;
}
