/* Styling the FriendBadge component */

/* font-size: 1.2rem; */

.friendBadge {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	/* gap: 0.6rem; */
	padding: 0;
	/* font-size: 1rem; */
	width: fit-content;
	/* padding: 7px 7px 0 7px; */
}

.badgeAvatar {
	margin: 0;
	padding: 0;
	width: 7rem;
	height: 7rem;
	/* object-fit: cover; */
}

.badgeAvatar img {
	margin: 0;
	width: 100%;
}

/* .friendBadge img {
	border-radius: 50%;
	width: 5rem;
	aspect-ratio: 1/1;
	box-shadow: 0 0 0 4px white, 0 0 0 7px black, 7px 7px 10px 0px gr
} */

.friendBadge span {
	/* height: 2rem; */
	font-size: 1.2rem;
	padding: 4px 8px 8px 8px;
	font-family: 'Fredoka', sans-serif;
	/* line-height: 2rem; */
}

.online img {
	box-shadow: 0 0 0 5px white, 0 0 0 7.5px lightgreen,
		7px 7px 10px 0px lightgreen;
}

.statusIndicator {
	width: 0.8rem;
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: 50%;
	/* background-color: green; */
	left: 0.5rem;
	top: 0.5rem;
	background-color: #57f8ab;
	border: 1px solid black;
}
