/* Styling the FriendBadge component */

.badge-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	padding: 0;
	width: fit-content;
	overflow: hidden;
	border-radius: 0.6rem;
}

.badge-avatar {
	margin: 0;
	padding: 0;
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	position: relative;
	transition: opacity 0.5s linear;
}

.badge-avatar img {
	margin: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	object-fit: cover;
}

.badge-wrapper span {
	font-size: 1.1rem;
	padding: 0.3rem 0 0.5rem 0;
	font-family: 'Fredoka', sans-serif;
}

.is-empty-badge {
	width: 6rem;
	height: 7rem;
	background-color: #fffbec;
	position: relative;
}

.is-empty-badge::after {
	content: '+';
	font-family: 'VT323', monospace;
	font-size: 2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.channel-badge {
	padding: 0.5rem 1.5rem;
}

.disable-friend-badge {
	/* filter: saturate(0); */
	opacity: 0.5;
}
