.input {
	width: 50%;
	flex-shrink: 0;
	border-radius: 8px;
	border: 1.5px solid #000;
	background: #fff;
	box-shadow: 1px 1px 0 0 black;
	background-color: rgba(255, 255, 255, 0.4);
	width: fit-content;
	padding: 0.6rem;

	display: flex;
	flex-direction: column;
	font-family: 'Roboto Mono';
	color: black;
}

.inputFieldWrapper {
	position: relative;
}

.inputFieldWrapper input:focus {
	background-color: white;
	outline: none;
}

.input.error {
	border: 2px solid #f85787;
	box-shadow: none;
}

.errorMessage {
	color: #f85787;
	font-size: 0.7rem;
	position: relatif;
	z-index: 100;
	position: absolute;
}
