/* Styling the WindowMenu component */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#windowMenu {
	background-color: black;
	color: white;
	height: 1.2rem;
	display: flex;
	flex-wrap: nowrap;
	padding: 0 1rem 0.3rem 1rem;
	align-items: center;
	gap: 1rem;
	font-family: 'VT323', monospace;
	margin-top: -1px;
	font-size: 1.3rem;
}

