/* Styling the AchievementBadge component */

.achievement-badge-wrapper {
	/* border: 1px solid red; */
	width: fit-content;
	height: fit-content;
	position: relative;
	justify-self: center;
}

.achievement-badge-wrapper img {
	opacity: 0.5;
	transition: opacity 0.5s linear;
}

.achievement-badge-wrapper img {
	width: 1.75rem;
	align-self: center;
	justify-self: center;
}

.achieved img {
	opacity: 1;
}
