/* Styling the WindowCloseSquare component */

.close-square {
	background-color: white;
	height: 100%;
	aspect-ratio: 1/1;

	outline: 3px solid black;
	outline-offset: -2.5px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-square:hover {
	cursor: pointer;
}

.inside-square {
	width: 0;
	height: 0;
	transition: all 0.2s ease-in-out;
}

.close-square:hover .inside-square {
	width: 60%;
	height: 60%;
	background-color: #f8ef57;
}
