@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	/* TODO: try to change overflow hidden on body, cause issue with Login background overflow on height */
}

/* body::after {
	position: absolute;
	left: 0;
	top: 0;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0.9;
	mix-blend-mode: soft-light;
	pointer-events: none;

	background: black;
	filter: url(#noise-filter);
	animation: change-noise 0.5s infinite steps(1);
}

@keyframes change-noise {
	0% {
		transform: scaleX(-1);
	}
	25% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleY(-1);
	}
	75% {
		transform: scaleY(1);
	}
}

svg.filter-svg {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
}
*/

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
