/* Styling the ChatWindow component */

.chat-wrapper {
	padding: 0rem 1.5rem 1rem 1.5rem;
	min-width: 30vw;

	display: flex;
	flex-direction: column;
	min-height: 25rem;
	justify-content: flex-end;
}

.chat-content::-webkit-scrollbar {
	display: none;
}

.chat-content {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 0.8rem;

	max-height: 50vh;
	overflow: auto;
	padding: 1rem 0;
}

.chat-input {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;

	padding: 1rem;
	border: 2px solid black;
	border-radius: 8px;
}

.chat-input--focus {
	box-shadow: 2px 2px black;
	background-color: white;
}

.chat-input--focus textarea {
	background-color: white !important;
}

.chat-input textarea {
	flex-grow: 1;
	border: none;
	outline: none;
	overflow: auto;

	height: 3rem;
	resize: none;

	font-family: 'Fredoka', sans-serif;
	background-color: #fffbec;
}

.chat-input #buttonWrapper {
	align-self: flex-end;
}

.top-message {
	position: absolute;
	bottom: 0;
}
