/* Styling the Lock component */

#lockWrapper {
	position: relative;
	height: 1.4rem;
	aspect-ratio: 1/1;
}

#lockWrapper svg {
	height: 100%;
}

#lockWrapper:hover svg {
	position: relative;
	animation: 1s linear shakeShakeShake;
}

@keyframes shakeShakeShake {
	0% {
		transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-3px);
	}
	20%,
	40%,
	60%,
	80% {
		transform: translateX(3px);
	}
	100% {
		transform: translateX(0);
	}
}

.lockHead {
	fill: none;
	stroke: #fff;
	stroke-miterlimit: 10;
	stroke-width: 3px;
}

.lockBody {
	fill: #fff;
}
