.profile-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	gap: 1rem;
}

.profile-form > :first-child {
	margin-bottom: 0.25rem;
}

.profile-settings-wrapper {
	width: 100%;
}

.profile-settings-wrapper .shadow-wrapper {
	width: 100%;
}
