.ProfileForm {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 2rem;
	gap: 1rem;
}

.ProfileForm > :first-child {
	margin-bottom: 0.25rem;
}
