/* Styling the RivalBadge component */

.rival-badge {
	position: relative;
}

.rival-badge .friend-name {
	transform: translateY(-0.25rem);
}

.rival-badge .black-badge {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
	bottom: -0.5rem;
	transition: all 0.3s ease-in-out;
}

.rival-badge .black-badge {
	transition: none;
}

.rival-badge:active .black-badge {
	bottom: calc(-0.5rem - 3px);
	margin-left: 3px;
}
