/* Styling the TitleList component */

.title-box-wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	padding: 0.75rem 1rem;
}

.titles-container {
	position: relative;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 90%;
}
