/* Styling the OnlineStatusFriendBadge component */

.online-status-friend-badge {
	position: relative;
}

.status-indicator {
	width: 0.8rem;
	aspect-ratio: 1/1;
	position: absolute;
	border-radius: 50%;
	left: 0.5rem;
	top: 0.5rem;
	background-color: #57f8ab;
	border: 1px solid black;
	z-index: 1;
}

.friend-is-playing .status-indicator {
	background-color: #f8ef57;
}
