/* Styling the OnlineStatusFriendBadge component */

.online-status-friend-badge {
	position: relative;
}

.friend-is-playing .status-indicator {
	background-color: #f8ef57;
}

.online-status-friend-badge:active .status-indicator {
	margin-left: 3px;
	margin-top: 3px;
}
