.titleWrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: baseline;
	font-family: 'Fredoka', sans-serif;
}

.title {
	color: black;
	font-weight: 600;
	letter-spacing: 0.1px;
	position: relative;
	width: fit-content;
	white-space: nowrap;
}

.highlight {
	border-radius: 8px;
	height: 60%;
	width: 100%;
	position: absolute;
	top: 1.2rem;
	left: 0.5rem;
	opacity: 0.8;
}

.title > span {
	z-index: 1;
	position: relative;
}

.tooltip {
	font-size: 1rem;
	letter-spacing: 0.1px;
}
