.title {
	font-family: 'Fredoka', sans-serif;
	font-size: 2rem;
	color: black;
	/* height: 2rem; */
	font-weight: 600;
	/* letter-spacing: 0.1px; */
	position: relative;
	width: fit-content;
}

.highlight {
	border-radius: 8px;
	height: 60%;
	width: 100%;
	position: absolute;
	top: 1.2rem;
	left: 0.5rem;
	opacity: 0.8;
}

.title > span {
	z-index: 1;
	position: relative;
}
