/* Styling the ShadowWrapper component */

.shadow-wrapper {
	border-radius: 0.71838rem;
	border: 3px solid #000;
	background: #fff;
	/* overflow: hidden; */
	height: fit-content;
	width: fit-content;
}

.shadow {
	box-shadow: 3px 3px black;
}

.clickable:active {
	box-shadow: none;
	position: relative;
	top: 3px;
	left: 3px;
}

.clickable:hover {
	cursor: pointer;
}

.dashed-border {
	border: 2px dashed black;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

.shake {
	animation: shake 1s;
	animation-iteration-count: 1; /* 4 iterations will last 2 seconds */
}
