/* Styling the GameOverlay component */

.game-overlay-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-color: rgba(0, 0, 0, 0.8);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.game-overlay-status {
	color: white;
}

.game-play-button-wrapper {
	position: relative;
}

.game-settings-window-wrapper {
	background-color: #fbd9f6;
	border: 3px solid black;
	border-radius: 1rem;
	overflow: hidden;
	height: fit-content;
	max-height: 90%;
	max-width: 90%;
}

.game-settings-window-titlebar {
	background-color: white;
	padding: 0.3rem 1rem;
	text-align: center;
	border-bottom: 3px solid black;

	font-family: 'VT323', monospace;
	font-size: 2rem;
}

.game-settings-window-content {
	padding: 1.5rem 2rem;

	display: flex;
	flex-direction: row;
	gap: 2rem;
	align-items: center;
}

.game-settings-window-content > span {
	font-family: 'VT323', monospace;
	text-shadow: 4px 4px 0px #f8ef57;
	font-size: 7rem;
	/* letter-spacing: 0.5px; */
}

.winner-announcement {
	font-size: 6rem;
	font-family: 'VT323', monospace;
	color: transparent;
	background-image: linear-gradient(
		to bottom right,
		#c2ffb6b0,
		#fea4b6fe,
		#ffa3b6,
		#dda9ff,
		#a2d1ff
	);
	background-clip: text;
}
