/* Styling the Profile2 component */

.profile-wrapper {
	padding: 1.5rem 2.5rem;
	/* outline: 1px solid red; */
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

.profile-sidebar {
	max-width: 33.33%;
}

.profile-sidebar .picture-container {
	width: 10rem;
}

.profile-sidebar .title-list-wrapper .shadow-wrapper {
	width: 100%;
}

.profile-wrapper > * {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.profile-sidebar .profile-pic-badge-wrapper,
.profile-sidebar .title-wrapper {
	align-self: center;
}

.profile-sidebar {
	justify-content: flex-start;
	align-items: stretch;
}

.profile-content {
	justify-content: flex-start;
}

.profile-buttons {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	gap: 0.5rem;
}

.profile-buttons svg {
	fill: #a20606;
}

.profile-buttons > :first-child {
	flex: 1;
}

.delete-settings-wrapper {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: space-around;
	flex-wrap: nowrap;
	align-items: center;
}

.select-file {
	font-family: 'Roboto Mono', monospace;
}

.change-avatar-file {
	width: fit-content;
	display: flex;
	flex-direction: row;
	padding: 0rem 0rem 0.5rem 0rem;
	font-family: 'Roboto Mono', monospace;
}

input[type='file']::file-selector-button {
	border-radius: 4px;
	padding: 0 16px;
	height: 2rem;
	cursor: pointer;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.16);
	box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
	margin-right: 16px;
	transition: background-color 200ms;
	font-family: 'Roboto Mono', monospace;
}

.change-avatar-error {
	font-size: small;
	color: #f85787;
}
