/* Styling the Background component */

.paths {
	fill: none;
	/* stroke: black; */
	stroke-miterlimit: 1;
}

#bgWrapper {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	/* margin: 0 !important; */
	overflow: hidden;
	width: 100dvw;
	height: 100dvh;
	/* background-color: rgba(148, 187, 233, 1); */
	background-color: black;
	pointer-events: none;
	z-index: -1;
}

#blur {
	position: absolute;
	z-index: 0;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(350px);
}

#noise {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: 10%;
	background-blend-mode: soft-light;
	opacity: 0.2;
	pointer-events: none;
	animation: background-noise 0.3s infinite;
}

@keyframes background-noise {
	0% {
		background-image: url('./images/grain1.png');
	}
	33% {
		background-image: url('./images/grain2.png');
	}
	66% {
		background-image: url('./images/grain3.png');
	}
	100% {
		background-image: url('./images/grain1.png');
	}
}
