/* Styling the ProfilePicBadge component */

.profile-pic-badge-wrapper {
	position: relative;
}

.picture-container {
	min-height: 7rem;
	aspect-ratio: 1/1;
}

.modify-button {
	position: absolute;
	bottom: -1.2rem;
	left: -1.2rem;
}

.modify-button .shadow-wrapper {
	background-color: #f8ef57;
	width: 2.4rem;
	aspect-ratio: 1/1;
	border-radius: 50%;
	/* border: none; */
	display: flex;
	align-items: center;
	justify-content: center;
}

.modify-button .shadow-wrapper img {
	width: 1.3rem;
	aspect-ratio: 1/1;
}
